.card {
    width: 100px;
    height: 150px;
    border: red 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 50px;
}
